css:  
   .template-container.back {
      width: 6.25in;
      height: 4.25in;
      border: 1px solid gray;
      margin: 0;
      padding: 0;
      /* If using an image, the background image should have dimensions of 1875x1275 pixels. */
     
      background-size: 6.25in 4.25in;
      background-repeat: no-repeat;
    }
    h2 {
    color: yellow;}


  
.template-container.back 
  p to: blah
  p from: blah